:host{

  .search-area{
    background: #424242;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
  }
  .search-field{
    width: 50%;
  }

  .films-drop-list{
    margin: 1rem 0;
    .mat-option-text{
      display: flex;
      align-items: center;
    }
    img{
      margin-right: 0.5rem;
      width: 30px;
      height: auto;
    }
    .mat-icon{
      margin-left: auto;
    }
  }
  .film{
    display: inline-flex;
    width: calc(50% - 1rem);
    flex-wrap: wrap;
    margin-bottom: 2rem;
    img{
      width: 50%;
      height: 300px;
      object-fit: cover;
    }
    .info{
      width: calc(50% - 1rem);
      margin-left: 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      h3{
        margin-top: 0;
      }
    }
    &:nth-of-type(odd) {
      margin-right: 1rem;
    }
    &:nth-of-type(even) {
      margin-left: 1rem;
    }
  }

  .actions{
    display: block;
    margin-top: auto;
    button{
      width: 100%;
      &:first-of-type{
        margin-bottom: 1rem;
      }
    }
  }
}
